
dialog[open] {
    opacity: 1;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}

dialog {
  transition: opacity 1s ease-out,
              overlay 1s ease-out allow-discrete,
              display 1s ease-out allow-discrete;

  opacity: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.element {

  @container style(--active:true) {
    border: 2px solid red;
  }
}

